<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<title>Search result</title>
</head>
<style>
body{
   
}
</style>
<body>



<!--Search-->
<form method="GET" action="" id="searchform">
<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-left">
<label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
<i class="material-icons">search</i>
</label>
<div class="mdl-textfield__expandable-holder">

 <input class="mdl-textfield__input" id="fixed-header-drawer-exp" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>

</div>
</form>


<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Book Name</th>
      <th>Medicine</th>
      <th>Details</th>
    </tr>
  </thead>
  {% for x in posts %}
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{x.bookName}}</td>
      <td>{{x.medName}}</td>
      <td>{{x.medDetails}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</body>